{"$schema": "https://json.schemastore.org/swcrc", "jsc": {"parser": {"syntax": "ecmascript", "jsx": false, "decorators": false, "dynamicImport": false, "privateMethod": false, "functionBind": false, "exportDefaultFrom": false, "exportNamespaceFrom": false, "decimal": false, "flow": false, "preserveAllComments": false}, "transform": {"react": {"pragma": "React.createElement", "pragmaFrag": "React.Fragment", "throwIfNamespace": false, "development": false, "useBuiltins": false}}, "target": "es2015", "loose": false, "externalHelpers": false, "keepClassNames": false}, "minify": true, "isModule": true, "sourceMaps": false}